<h3> Edit your Cheer up Account </h3>
<div class="editAct">
    
<form name="form1" action="/users/{{id}}?_method=put" method="POST">

<section>
<label for "email">email to make a cheer up account</label> 
    <input type="text" name="email" value="{{usernameField}}" maxlength="40" size="42">
</section>
<section>
<label for "password">password for cheer up site</label> 
    <input type="text" name="password" value="{{passwordField}}" maxlength="25" size="26">
</section>
<section>
    <input class="button" type="submit" value="Update">
</section>
</form>
</div>

<h3> Click the delete button below to remove your Cheer Up account.</h3>

<form action="/users/{{id}}?_method=delete" method="post">
    <input class="button delete" type="submit" value="Delete">
</form>