<div class="cheersmain">

<div class='cheers'>
    {{#each cheers}}
    <i class="far fa-smile-beam-xs"></i><h2></h2>{{this.title}}</h2>
    <div class='cheerup'>{{this.cheerup}}</div><h3>{{this.creator}}</h3>
    {{/each}}
</div>

    </div>