<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/70784aaaa8.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>  
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <link rel="shortcut icon" href="/public/images/pico-white-BL.png">
    <title>Cheer 😊 Ups </title>
</head>

<header>
    <h1> It's ok. Don't be sad. 😞 Read a CheerUp and be Glad ! 🤗    </h1>
</header>
<section class="nav">
    <div class ="top">
        <a href="/"> HOME </a>
         <a href="/users/login"> Log In </a>
          <a href="/users/newAccount"> New Account </a>
           <a href="/cheerups/new"> Add a Cheer Up </a>
            <a href="/users"> User list </a>

    </div>
</section>

<body>
    {{{ body }}}

    
</body>

<footer>made with <i class="fas fa-hand-holding-heart"></i> by: Brian Loveless</footer>



<script src="../public/JavaScript/site.js"></script>

</html>