
  {{#if message}}
    <div class="alert alert-danger">{{message}}</div>
  {{/if}}

<h2> CheerUps Login Page</h2>

<div class="login">

    <form name="form1" action="/login" method="POST"></form>
    <section>
<label for "email">Email used to make cheer Ups account: </label> 
    <input class="form-control" type="text" name="email" id="email" maxlength="40" size="42">
</section>
    <section >
    <label for="email">Password for Cheer Ups: </label> 
    <input class="form-control" type="password" name="password" id="password" maxlength="25" size="26">
    </section>
    <section class="logbtn">
    <input class="button" type="submit" value="Log into CheerUps">
    </section>
    </form>

</div>