<form name="form1" action="/users/login" method="Get"></form>

<label for="username">Cheer Ups User Name</label>
    <input type="text" name="username" value="{{username}}">

    <label for "password">password for cheer up site</label> 
    <input type="text" name="password" value="{{password}}">

    <input class="button" type="submit" value="Create">

    </form>