
<h2> CheerUps Login Page</h2>

  {{#if message}}
    <div class="alert alert-danger">{{message}}</div>
  {{/if}}


<div class="login">


   {{!-- to get my post working used plain slash here on non-passport version after action= ... but the tutorial and solution code say use /login when using passport ...  :-(  cannot test though since new account won't post and my user seed files don't populate either--}}

    <form name="form1" action="/login" method="POST"></form>
    <section>
<label for "email">Email used to make cheer Ups account: </label> 
    <input class="form-control" type="text" name="email" id="email" maxlength="40" size="42">
</section>
    <section >
    <label for="email">Password for Cheer Ups: </label> 
    <input class="form-control" type="password" name="password" id="password" maxlength="25" size="26">
    </section>
    <section class="logbtn">
    <input class="button" type="submit" value="Log into CheerUps">
    </section>
    </form>

</div>