<h3> Create your Cheer up Account </h3>
<div class="newAct">
   
<form name="formNwUsr" action="/users" method="POST">
<section>
    <h3> 
<label for="Name">Your Name</label>
    <input type="text" name="name" value="{{name}}"  maxlength="40" size="42">
     </h3>
</section>
<section>
    <h3> 
<label for="username">Cheer Ups User Name</label>
    <input type="text" name="username" value="{{username}}"    maxlength="40" size="42">
    </h3>
</section>
<section>
    <h3> 
<label for="email">Email REQUIRED to make an account</label> 
    <input type="text" name="email" value="{{email}}"       maxlength="40" size="42">
    </h3>
</section>
<section>
    <h3> 
<label for="password">Password for Cheer Ups</label> 
    <input type="password" name="password" value="{{password}}" maxlength="25" size="26">
     </h3>
</section>
<section>
    <h3> 
    <input class="button" type="submit" value="Create Account">
     </h3>
    </section>
</form>
 </div>