<h3> Create your Cheer up Account </h3>
<div class="newAct">
   
<form name="formNwUsr" action="/users" method="POST">
<section>
<label for="Name">Your Name</label>
    <input type="text" name="name" value="{{name}}" maxlength="40" size="42">
</section>
<section>
<label for="username">Cheer Ups User Name</label>
    <input type="text" name="username" value="{{username}}" maxlength="40" size="42">
</section>
<section>
<label for "email">Email REQUIRED to make an account</label> 
    <input type="text" name="email" value="{{email}}" maxlength="40" size="42">
</section>
<section>
<label for "password">Password for Cheer Ups</label> 
    <input type="text" name="password" value="{{password}}" maxlength="25" size="26">
</section>
<section>
    <input class="button" type="submit" value="Create Account">
    </section>
</form>
 </div>