 <h3> Create your Cheer up Account </h3>
 
  {{#if message}}
    <div class="alert alert-danger">{{message}}</div>
  {{/if}}


<div class="newAct">

   {{!-- to get my post working used plain slash here on non-passport version after action= ... but the tutorial and solution code say use /signup when using passport ... have tried it both ways and neither is working  :-(  --}}

<form name="formNwUsr" action="/signup" method="POST">
    <section>
<label for "email">Email used to make cheer Ups account:</label> 
    <input class="form-control" type="text" name="email" id="email" maxlength="40" size="42">
</section>
    <section >
    <label for="email">Password for Cheer Ups: </label> 
    <input class="form-control" type="password" name="password" id="password" maxlength="25" size="26">
    </section>

<section>
    <input class="button" type="submit" value="Create Account">
    </section>
</form>
 </div>