<div class="moveDown">
    
</div>

<div class="showUser">


<h2> Name : {{name}} </h2>

<h2>User Name : {{ username }}</h2>


<h2>Your email: {{ email }}</h2>




<a  class="buttondetete" href="/users/edit/{{this.id}}">Edit Your profile</a>

</div>