<ul class='users-view'>
    {{#each peeps}}
    <li>
        <i class="far fa-user-xs"></i>
        <a href="/{{this.id}}">{{this.name}}{{this.username}}{{this.email}}
        </a>
    </li>
    {{/each}}
</ul>