<ul class='users-view'>
    {{#each peeps}}
    <li>

        <a href="/users/edit/{{this.id}}">{{this.name}}
        </a>
        {{this.username}}
        😻
        {{this.email}}
        
    </li>
    {{/each}}
</ul>