<ul class='usersView'>
    {{#each peeps}}
    <li>

        <i class="far fa-user"></i>
        <a href="/users/showUser/{{this.id}}">
        {{this.usernameField}}
        </a> _-_ 😻 
     
        
    </li>
    {{/each}}
</ul>


