@import url('https://fonts.googleapis.com/css?family=Happy+Monkey&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');



h1{
    font-family: 'Happy Monkey', cursive, sans-serif;
    font-size:35px;
    text-align: center;
}

.usersView{
    list-style-type: none;
    padding: 10px;
    font-size: 25px;
    margin: 120px 50px;
}

.login {
    position: relative;
    top: 50%;
    left: 5%;
    right: 5%;
    background-color: rgb(121, 6, 121);
    color: white;
    height: 300px;
    width: 80%;
    align-self: center;
    margin: 15px;
    padding: 20px;
    font-size: 25px;
    border: 3px solid black;
    border-radius: 5px;
}


.newAct, .editAct {
    position: relative;
    top: 50%;
    left: 5%;
    right: 5%;
    height: 300px;
    width: 80%;
    align-self: center;
    margin: 15px;
    padding: 20px;
    font-size: 25px;
    border: 3px solid black;
    border-radius: 5px;
}


.newAct{
    background-color: rgb(245, 212, 140);
    color: rgb(0, 0, 0);
}


.editAct{
    background-color: rgb(245, 181, 239);
    color: rgb(4, 8, 255);
}


.showUser{
    background-color: beige;
}

